* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************************UTILITIES**********************************/
.big-cont {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.container-main {
  width: 1080px;
  height: 100%;
  margin: auto;
}
.flex {
  display: flex;
}
/*************************HEADER NAV*********************************/
nav {
  width: 100%;
  height: 80px;
  background-color: gold;

  display: flex;
  justify-content: space-between;
}

.nav-right,
.nav-left {
  width: 100px;
  height: 100%;
  border: 2px dashed black;
}

/************************JUMBO*****************************************/
.jumbo {
  height: 740px;
  background-color: purple;
}
.t1 {
  height: 100px;
  width: 100%;
  background-color: aqua;
}

.flex-jumbo,
.main-jumbo {
  display: flex;
  align-items: flex-end;
}
.flex-jumbo {
  flex-direction: column;
  justify-content: flex-end;
}
.main-jumbo {
  height: 70%;
  width: 100%;
}
.content {
  width: 40%;
  height: 100%;
  background-color: aquamarine;
}
.img {
  width: 60%;
  height: 100%;
  background-color: rgb(255, 200, 127);
}
/********************************MAIN*****************************************/
.t2 {
  background-color: blue;
  height: 100px;
  width: 100%;
  margin-top: 100px;
}
.options {
  height: 66px;
  background-color: green;
  align-items: center;
}
.payment {
  width: 30%;
  height: 70%;
  border: 2px dashed black;
}
.payment-cards {
  width: 100%;
  height: 870px;
  background-color: yellow;
  justify-content: space-between;
}
.payment-column {
  width: 31%;
  height: 100%;
  background-color: pink;
}
.title-b {
  height: 30px;
  width: 100%;
  background-color: gray;
}
.contact-b {
  margin-top: 80px;
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}
/***********************************MAIN CONTACT**********************/
.enter-contact {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: red;
  justify-content: space-between;
}
.main-img {
  width: 60%;
  height: 100%;
  background-color: blanchedalmond;
}
.main-comment {
  width: 38%;
  height: 100%;
  background-color: green;
}
/***********************************OPERATIONS*************************/
.cards-box {
  height: 900px;

  background-color: aqua;
  flex-wrap: wrap;
}
.cards {
  height: 50%;
  width: calc(100% / 3);
  background-color: brown;
  border: 2px dashed black;
}
/**********************************DROPBOX BUSINESS*********************/
.busines-link {
  margin: 100px 0 200px 0;
  height: 20px;
  width: 100%;
  background-color: thistle;
}
.agency-box {
  justify-content: space-between;
}
.agency {
  width: calc(100% / 3);
  background-color: antiquewhite;
  height: 700px;
  flex-wrap: wrap;
}
.logos {
  width: 50%;
  height: 50%;
  background-color: red;
  border: 2px dashed black;
}
.dopbox-in-agency {
  height: 350px;
  background-color: coral;
}
.dopbox-in-agency-after {
  justify-content: center;
  align-items: center;
}
.button {
  width: 50%;
  height: 40px;
  background-color: darkolivegreen;
}
.t3 {
  width: 50%;
  height: 40px;
  background-color: darkolivegreen;
}
/******************************most frequent questions*********************/
