* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/*************************UTILITIES**********************************/
.big-cont {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.container-main {
  width: 1080px;
  height: 100%;
  margin: auto;
}
.flex {
  display: flex;
}
.centering-row {
  justify-content: center;
  align-items: center;
}
button {
  background-color: rgb(0, 97, 255);
  border: none;
  color: white;
}
.button {
  width: 204px;
  font-size: 16px;
  height: 51px;
}
.align-cent {
  align-items: center;
}
/*************************HEADER NAV*********************************/
nav {
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: white;
}
.logo-small {
  width: 130px;
  height: 100%;
}
.nav-box {
  gap: 30px;
}
nav div > a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.nav-right,
.nav-left {
  height: 35%;
}
.header-button {
  padding: 10px 20px;

  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}
/************************JUMBO*****************************************/
.jumbo {
  height: 740px;
  background-color: rgb(180, 208, 231);
  padding-top: 80px;
}
h1 {
  height: 63%;
  width: 100%;
  margin-top: 80px;
  font-weight: 900;
  font-size: 70px;
}

.flex-jumbo,
.main-jumbo {
  display: flex;
  align-items: flex-end;
}
.flex-jumbo {
  flex-direction: column;
  justify-content: flex-end;
}
.main-jumbo {
  height: 100%;
  width: 100%;
  position: relative;
}
.content {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content p {
  line-height: 23px;
  font-size: 16px;
  font-weight: 100;
}
.fa-arrow-down {
  font-size: 50px;
  margin: 20px 0 10px;
}

.jumbo-img {
  position: absolute;
  top: 0;
  max-width: 72%;
}
/********************************MAIN*****************************************/
.h2 {
  line-height: 100px;
  vertical-align: middle;
  font-size: 40px;
  margin-top: 150px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 5px solid rgb(0, 97, 255);
  background-color: white;
  margin-right: 5px;
  cursor: pointer;
}
.undone {
  border: 2px solid rgb(208, 208, 211);
  background-color: white;
}
.payment {
  width: 30%;
  height: 75px;
  display: flex;
  align-items: center;
}
.payment-cards {
  width: 100%;
  height: 870px;

  justify-content: space-between;
}
.payment-column {
  width: 28%;
  height: 100%;
  border: 1px solid rgb(208, 208, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-t {
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(208, 208, 211);
}
.cards-content {
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
  font-size: 15px;
}
.cards-content i {
  margin: 5px;
}
.cards-des {
  padding-bottom: 10px;
}
.card-start,
.card-advanteg,
.card-middle,
.card-end {
  margin-bottom: 40px;
  line-height: 22px;
}
h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.fa-check {
  color: rgb(0, 97, 255);
}
.button-card {
  width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
}
h5 {
  padding: 30px 0 10px 0;
  font-size: 15px;
}
.contact-b {
  margin-top: 80px;
  width: 100%;
  height: 240px;
  border: 1px solid rgb(208, 208, 211);
}
.contact-box {
  margin: 40px 15px;
  justify-content: space-between;
}
.contact-box h3 {
  margin-bottom: 20px;
}
.contact-box h5 {
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 0;
}
.contact-info {
  width: 70%;
}
/***********************************MAIN CONTACT**********************/
.enter-contact {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  justify-content: space-between;
  margin-bottom: 150px;
}
.main-img {
  width: 60%;
  height: 100%;
}
.partner {
  width: 100%;
}
.main-comment {
  flex-direction: column;
  height: 70%;
  width: 33%;

  margin-top: 40px;
}
.main-comment * {
  margin-bottom: 45px;
}
.button-partner {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  height: 40px;
  width: 150px;
}
/***********************************OPERATIONS*************************/
.cards-box {
  flex-wrap: wrap;
}
.img-cards {
  width: 100%;
}
.cards {
  height: 50%;
  width: calc((100% - 30px) / 3);
  margin-right: 10px;
  margin-bottom: 30px;
}
.cards-box h3 {
  margin-bottom: 40px;
}
.cards-box p {
  font-size: 16px;
}
/**********************************DROPBOX BUSINESS*********************/
.businees-t {
  width: 70%;
  margin-bottom: 100px;
}
.businees-t h2 {
  line-height: 50px;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 70px;
}

.agency-box {
  justify-content: space-between;
}
.agency {
  width: calc(100% / 3);
  height: 600px;
  flex-wrap: wrap;
}
.logos {
  width: 50%;
  height: 50%;
  color: white;
  display: flex;
  border: 15px solid transparent;
}
.logos:hover {
  border: 15px solid rgba(255, 255, 255, 0.5);
}
.Design {
  background-color: rgb(162, 211, 155);
}
.Arizona {
  background-color: rgb(97, 8, 43);
}
.florida {
  background-color: rgb(0, 147, 206);
}
.Tops {
  background-color: rgb(255, 28, 28);
}
.bicycle {
  background-color: rgb(213, 0, 31);
}
.hearst {
  background-color: rgb(180, 208, 231);
}
.lonely {
  background-color: rgb(13, 36, 129);
}
.clear {
  background-color: rgb(255, 216, 48);
}
.logos img {
  height: 50%;
  width: calc(50% + 15px);
}
#florida-infame {
  width: calc(45% + 15px);
  height: calc(12% + 15px);
}
.h2-designt {
  margin-top: 40px;
  font-size: 80px;
}
.designt-box {
  width: 85%;
  margin: auto;
}
.designt-top {
  margin-bottom: 40px;
}
.designt {
  width: calc(100% / 3);
  background-color: rgb(245, 245, 245);
}
.border {
  width: 20%;
  border: 1px solid rgb(208, 208, 211);
}
.designit-description {
  margin-top: 40px;
  font-size: 16px;
}
.designit-description:last-child p {
  margin-top: 40px;
}
/***********************************?******************************/
.dopbox-in-agency {
  height: 350px;
  background-color: rgb(180, 208, 231);
}
.dopbox-in-agency-after {
  justify-content: space-between;
  align-items: center;
}
.h2-business {
  font-size: 45px;
  width: 55%;
  color: rgb(97, 8, 43);
}
.b-business {
  background-color: white;
  color: black;
  border: none;
}

/******************************most frequent questions*********************/
.frequent-question-box {
  margin-top: 200px;
}
.question-box h2 {
  margin-bottom: 50px;
}
.question-box h5 {
  padding: 25px 0;
}
.question-ul {
  border-top: 1px solid rgb(153, 153, 153);
}
.questions {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100px;
}
.questions-all {
  border-bottom: 1px solid rgb(153, 153, 153);
  position: relative;
}
.questions-all i {
  border-bottom: 1px solid rgb(153, 153, 153);
}
.questions-all p {
  display: none;
}
.questions-all :hover + p {
  display: block;
  padding-bottom: 20px;
}
.questions-all :hover .fa-chevron-down {
  opacity: 0;
}
.questions-all :hover .fa-chevron-up {
  opacity: 1;
}
.fa-chevron-down {
  font-size: 12px;
  margin-right: 25px;
  border: none;
}
.fa-chevron-up {
  position: absolute;
  right: 24px;
  opacity: 0;
  font-size: 12px;
}

/****************************footer***************************************/
footer {
  height: 590px;
  background-color: black;
  margin-top: 80px;
  color: white;
}
.footer-box {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.footer-list-box {
  margin-top: 100px;
  line-height: 20px;
  width: calc(100% / 5);
}
.bigger-list {
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
footer li {
  list-style: none;
  line-height: 40px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  margin: 0 4px;
}
.language {
  border-top: 1px solid grey;
  width: 45%;
  padding-top: 30px;
  color: rgb(153, 153, 153);
}
